In [ ]:
###https://www.datacamp.com/community/tutorials/deep-learning-python#finetune
###https://machinelearningmastery.com/regression-tutorial-keras-deep-learning-library-python/

In [44]:
import numpy

In [45]:
import pandas

##### Step-1:- (Get the Data)

In [46]:
dataframe = pandas.read_csv("bostonhouseprices.csv",delim_whitespace=True, header=None)
##there are no headers in this dataset

In [47]:
dataframe.head() ## just get the top 5 rows

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [48]:
#input variables are from column no 0 to column no 12
dataset = dataframe.values

In [49]:
inputs= dataset[:,0:13]

In [50]:
output = dataset[:,13]

##### Step-2:- (Creating Neural Network)

In [30]:
model = keras.models.Sequential()

In [36]:
layer1 = keras.layers.Dense(13,input_dim=13, activation=keras.activations.relu,kernel_initializer='normal')

In [38]:
model.add(layer1)

In [39]:
layer2 = keras.layers.Dense(1, kernel_initializer='normal')

In [40]:
model.add(layer2)

#### compile the Keras model

In [43]:
model.compile(loss=keras.losses.mean_squared_error, optimizer=keras.optimizers.Adam())

In [56]:
from keras.wrappers.scikit_learn import KerasRegressor

In [57]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)
# evaluate model with standardized dataset
estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=5, verbose=0)

NameError: name 'baseline_model' is not defined

In [62]:
import numpy as np

In [63]:
import sklearn

In [64]:
seed = 7
np.random.seed(seed)

In [65]:
kfold = sklearn.model_selection.StratifiedKFold(n_splits=5, shuffle=True, random_state=seed)

In [76]:
for train, test in kfold.split(inputs, output):
    model = keras.models.Sequential()
    model.add(keras.layers.Dense(13, input_dim=13, activation='relu'))
    model.add(keras.layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    model.fit(inputs[train], output[train], epochs=10, verbose=0)
    mse_value, mae_value = model.evaluate(inputs[test], output[test], verbose=1)
    print('\n','mse_value',mse_value , '','mae_value',mae_value)

C:\Anaconda3\envs\statistical-inference\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

 32/109 [=======>......................] - ETA: 0s
 mse_value 106.008173181  mae_value 7.8318825643
 32/101 [========>.....................] - ETA: 0s
 mse_value 240.560828936  mae_value 10.7564981857
32/91 [=========>....................] - ETA: 0s
 mse_value 108.40765951  mae_value 7.3523182083
 32/103 [========>.....................] - ETA: 0s
 mse_value 138.025453827  mae_value 7.97956737037
 32/102 [========>.....................] - ETA: 0s
 mse_value 92.0962608936  mae_value 7.1133943913